* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEAD */

.container-header {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    height: 100px;
}

.logo-gioco {
    height: 100%;
    gap: 1rem;
    display: flex;
}

.logo-gioco img {
    max-width: 100%;
}

.logo-gioco h1 {
    display: inline;
    align-self: center;
    font-size: 3rem;
}

.container-header button {
    align-self: center;
    padding: 5px 20px;
}



/* MAIN */

.container-main {
    background-color: #7FFFD4;
    padding: 2rem;
}

.grid {
    border: 1px solid black;
    max-width: 70%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active {
    background-color: lightblue;
}